<?xml version="1.0" encoding="UTF-8"?>
<translations>
    <menu>
        <item id="inicio">
            <es>
                <name>Inicio</name>
                <link>inicio.html</link>
                <submenu>
                    <item>
                        <name>Descripción del configurador</name>
                        <link>inicio-descripcion.html</link>
                    </item>
                    <item>
                        <name>Propósito de personalizar los pedidos</name>
                        <link>inicio-proposito.html</link>
                    </item>
                    <item>
                        <name>Instrucciones para hacer un pedido</name>
                        <link>inicio-instrucciones.html</link>
                    </item>
                    <item>
                        <name>Preguntas frecuentes</name>
                        <link>inicio-preguntas.html</link>
                    </item>
                </submenu>
            </es>
            <en>
                <name>Start</name>
                <link>inicio.html</link>
                <submenu>
                    <item>
                        <name>Configurator Description</name>
                        <link>inicio-descripcion.html</link>
                    </item>
                    <item>
                        <name>Purpose of customizing orders</name>
                        <link>inicio-proposito.html</link>
                    </item>
                    <item>
                        <name>Instructions for placing an order</name>
                        <link>inicio-instrucciones.html</link>
                    </item>
                    <item>
                        <name>Frequently asked questions</name>
                        <link>inicio-preguntas.html</link>
                    </item>
                </submenu>
            </en>
        </item>
        <item id="selecciondeproductos">
            <es>
                <name>Selección de productos</name>
                <link>selecciondeproductos.html</link>
                <submenu>
                    <item>
                        <name>Opciones de bebidas</name>
                        <link>selec-opciones.html</link>
                    </item>
                    <item>
                        <name>Selección de alimentos</name>
                        <link>selec-alimentos.html</link>
                    </item>
                    <item>
                        <name>Personalización de las opciones</name>
                        <link>selec-personalizacion.html</link>
                    </item>
                    <item>
                        <name>Confirmación de selección</name>
                        <link>selec-confirmacion.html</link>
                    </item>
                </submenu>
            </es>
            <en>
                <name>Product selection</name>
                <link>selecciondeproductos.html</link>
                <submenu>
                    <item>
                        <name>Beverage Options</name>
                        <link>selec-opciones.html</link>
                    </item>
                    <item>
                        <name>Food selection</name>
                        <link>selec-alimentos.html</link>
                    </item>
                    <item>
                        <name>Customization of options</name>
                        <link>selec-personalizacion.html</link>
                    </item>
                    <item>
                        <name>Selection confirmation</name>
                        <link>selec-confirmacion.html</link>
                    </item>
                </submenu>
            </en>
        </item>
        <item id="resumendepedidos">
            <es>
                <name>Resumen de pedidos</name>
                <link>resumendepedidos.html</link>
                <submenu>
                    <item>
                        <name>Detalles del pedido final</name>
                        <link>resumen-detalles.html</link>
                    </item>
                    <item>
                        <name>Opciones de pago</name>
                        <link>resumen-opciones.html</link>
                    </item>
                    <item>
                        <name>Dirección de entrega o recogida</name>
                        <link>resumen-direccion.html</link>
                    </item>
                    <item>
                        <name>Confirmación de pedido</name>
                        <link>resumen-opciones.html</link>
                    </item>
                </submenu>
            </es>
            <en>
                <name>Order Overview</name>
                <link>resumenpedidos.html</link>
                <submenu>
                    <item>
                        <name>Final Order Details</name>
                        <link>resumen-detalles.html</link>
                    </item>
                    <item>
                        <name>Payment Options</name>
                        <link>resumen-opciones.html</link>
                    </item>
                    <item>
                        <name>Delivery or pick-up address</name>
                        <link>resumen-direccion.html</link>
                    </item>
                    <item>
                        <name>Order confirmation</name>
                        <link>resumen-opciones.html</link>
                    </item>
                </submenu>
            </en>
        </item>
        <item id="recomendaciones">
            <es>
                <name>Recomendaciones</name>
                <link>recomendaciones.html</link>
                <submenu>
                    <item>
                        <name>Productos populares</name>
                        <link>reco-productos.html</link>
                    </item>
                    <item>
                        <name>Ofertas y descuentos especiales</name>
                        <link>reco-ofertas.html</link>
                    </item>
                    <item>
                        <name>Sugerencias según tus preferencias</name>
                        <link>reco-sugerencias.html</link>
                    </item>
                    <item>
                        <name>Opciones para modificar tus pedidos</name>
                        <link>reco-opciones.html</link>
                    </item>
                </submenu>
            </es>
            <en>
                <name>Recommendations</name>
                <link>recomendaciones.html</link>
                <submenu>
                    <item>
                        <name>Popular Products</name>
                        <link>reco-productos.html</link>
                    </item>
                    <item>
                        <name>Special offers and discounts</name>
                        <link>reco-ofertas.html</link>
                    </item>
                    <item>
                        <name>Suggestions based on your preferences</name>
                        <link>reco-sugerencias.html</link>
                    </item>
                    <item>
                        <name>Options to modify your orders</name>
                        <link>reco-opciones.html</link>
                    </item>
                </submenu>
            </en>
        </item>
        <item id="comunidad">
            <es>
                <name>Comunidad</name>
                <link>comunidad.html</link>
                <submenu>
                    <item>
                        <name>Foro sobre productos favoritos</name>
                        <link>comu-foro.html</link>
                    </item>
                    <item>
                        <name>Valoración y reseñas de otros clientes</name>
                        <link>comu-valoracion.html</link>
                    </item>
                    <item>
                        <name>Encuentros de café temáticos</name>
                        <link>comu-encuentros.html</link>
                    </item>
                    <item>
                        <name>Promociones exclusivas para miembros</name>
                        <link>comu-promociones.html</link>
                    </item>
                </submenu>
            </es>
            <en>
                <name>Community</name>
                <link>comunidad.html</link>
                <submenu>
                    <item>
                        <name>Favorite Products Forum</name>
                        <link>comu-foro.html</link>
                    </item>
                    <item>
                        <name>Rating and reviews from other customers</name>
                        <link>comu-valoracion.html</link>
                    </item>
                    <item>
                        <name>Themed coffee meetings</name>
                        <link>comu-encuentros.html</link>
                    </item>
                    <item>
                        <name>Exclusive Promotions for Members</name>
                        <link>comu-promociones.html</link>
                    </item>
                </submenu>
            </en>
        </item>
        <item id="extras">
            <es>
                <name>Extras</name>
                <link>extras.html</link>
                <submenu>
                    <item>
                        <name>Recetas de bebidas caseras</name>
                        <link>extra-recetas.html</link>
                    </item>
                    <item>
                        <name>Consejos para elegir el mejor café</name>
                        <link>extra-consejos.html</link>
                    </item>
                    <item>
                        <name>Videos sobre como preparar café</name>
                        <link>extra-videos.html</link>
                    </item>
                    <item>
                        <name>Comparativas de cafeterías locales</name>
                        <link>extra-comparativas.html</link>
                    </item>
                </submenu>
            </es>
            <en>
                <name>Extras</name>
                <link>extras.html</link>
                <submenu>
                    <item>
                        <name>Homemade drink recipes</name>
                        <link>extra-recetas.html</link>
                    </item>
                    <item>
                        <name>Tips for choosing the best coffee</name>
                        <link>extra-consejos.html</link>
                    </item>
                    <item>
                        <name>Videos on how to brew coffee</name>
                        <link>extra-videos.html</link>
                    </item>
                    <item>
                        <name>Local coffee shop comparisons</name>
                        <link>extra-comparativas.html</link>
                    </item>
                </submenu>
            </en>
        </item>
        <item id="faq">
            <es>
                <name>FAQ</name>
                <link>faq.html</link>
                <submenu>
                    <item>
                        <name>¿Cómo cambiar mi pedido?</name>
                        <link>faq-cambio.html</link>
                    </item>
                    <item>
                        <name>Política de devoluciones</name>
                        <link>faq-politica.html</link>
                    </item>
                    <item>
                        <name>Información sobre ingredientes</name>
                        <link>faq-informacion.html</link>
                    </item>
                    <item>
                        <name>Contactar soporte</name>
                        <link>faq-contactar.html</link>
                    </item>
                </submenu>
            </es>
            <en>
                <name>FAQ</name>
                <link>faq.html</link>
                <submenu>
                    <item>
                        <name>How do I change my order?</name>
                        <link>faq-cambio.html</link>
                    </item>
                    <item>
                        <name>Return Policy</name>
                        <link>faq-politica.html</link>
                    </item>
                    <item>
                        <name>Ingredient Information</name>
                        <link>faq-informacion.html</link>
                    </item>
                    <item>
                        <name>Contact Support</name>
                        <link>faq-contactar.html</link>
                    </item>
                </submenu>
            </en>
        </item>
        <item id="contacto">
            <es>
                <name>Contacto</name>
                <link>contacto.html</link>
                <submenu>
                    <item>
                        <name>Formulario de contacto</name>
                        <link>contacto-formulario.html</link>
                    </item>
                    <item>
                        <name>Redes sociales</name>
                        <link>contacto-redes.html</link>
                    </item>
                    <item>
                        <name>Feedback y sugerencias</name>
                        <link>contacto-feedback.html</link>
                    </item>
                </submenu>
            </es>
            <en>
                <name>Contact</name>
                <link>contacto.html</link>
                <submenu>
                    <item>
                        <name>Contact form</name>
                        <link>contacto-formulario.html</link>
                    </item>
                    <item>
                        <name>Social Media</name>
                        <link>contacto-redes.html</link>
                    </item>
                    <item>
                        <name>Feedback and suggestions</name>
                        <link>contacto-feedback.html</link>
                    </item>
                </submenu>
            </en>
        </item>
    </menu>
    <!--hasta aqui todo el menu funcional-->
    <text id="educontenido">
    <es>¿QUÉ TE PARECIÓ</es>
    <en>WHAT DID YOU THINK</en>
    </text>
    <text id="edu">
	<es> LAS PREGUNTAS </es>
    <en>THE QUESTIONS</en>
    </text>
    <text id="juanita1">
	<es>FRECUENTES </es>
    <en>FREQUENT</en>
</text>
<text id="juanita2">
	<es>DE LA </es>
    <en>OF THE</en>
</text>
<text id="juanita3">
	<es>CAFETERÍA DANNY?</es>
    <en>DANNY CAFETERIA?</en>
</text>
<text id="juanita">
	<es>Aquí puedes ver las preguntas frecuentes:)</es>
    <en>Here you can see the frequently asked questions:)</en>
</text>
<text id="contenido1">
	<es>Preguntas frecuentes</es>
    <en>Frequently asked questions</en>
</text>
<text id="contenido2">
	<es>Preguntas frecuentes de los clientes a la cafeteria DANNY..</es>
    <en>Frequently asked questions by customers at DANNY Coffee Shop..</en>
</text>
<text id="contenido3">
	<es>¿Qué opciones de leche ofrecen?</es>
    <en>What milk options do you offer?</en>
</text>
<text id="contenido4">
	<es>Ofrecemos varias opciones de leche, incluyendo leche entera, semidesnatada, sin lactosa, así como leches vegetales como soja, almendra, avena y coco.</es>
    <en>We offer several milk options, including whole, semi-skimmed, lactose-free milk, as well as plant-based milks such as soy, almond, oat, and coconut.</en>
</text>
<text id="contenido5">
	<es>¿Puedo personalizar mi bebida?</es>
    <en>Can I customize my drink?</en>
</text>
<text id="contenido6">
	<es>¡Sí! Nuestro configurador de pedidos te permite personalizar tu bebida a tu gusto. Puedes elegir el tipo de leche, el nivel de azúcar, agregar sabores y toppings, o ajustar la temperatura.</es>
    <en>Yes! Our order configurator allows you to customize your drink to your liking. You can choose the type of milk, the sugar level, add flavors and toppings, or adjust the temperature.</en>
</text>
<text id="contenido7">
	<es>¿Cómo sé qué ingredientes tienen los productos?</es>
    <en>How do I know what ingredients are in the products?</en>
</text>
<text id="contenido8">
	<es>Todos nuestros productos incluyen información sobre los ingredientes en el menú y en el configurador de pedidos. Si tienes alguna duda o alergia, no dudes en preguntar a nuestro personal.</es>
    <en>All our products include ingredient information in the menu and in the order configurator. If you have any questions or allergies, do not hesitate to ask our staff. </en>
</text>
<text id="contenido9">
	<es>¿Ofrecen promociones o descuentos?</es>
    <en>Do you offer promotions or discounts?</en>
</text>
<text id="contenido10">
	<es>Sí, tenemos promociones especiales durante todo el año, como descuentos en ciertas bebidas o en productos de temporada. También contamos con un programa de fidelización donde puedes acumular puntos con cada compra.</es>
    <en>Yes, we have special promotions throughout the year, such as discounts on certain drinks or seasonal products. We also have a loyalty program where you can accumulate points with each purchase.</en>
</text>
<text id="contenido11">
	<es>¿Puedo hacer un pedido grande para una reunión o evento?</es>
    <en>Can I place a large order for a meeting or event?</en>
</text>
<text id="contenido12">
	<es>Claro, ofrecemos opciones para pedidos grandes. Puedes contactarnos con anticipación para coordinar el pedido y la entrega de bebidas o alimentos para eventos o reuniones.</es>
    <en>Sure, we offer options for large orders. You can contact us in advance to coordinate the ordering and delivery of drinks or food for events or meetings.</en>
</text>
<text id="contenido13">
	<es>¿Puedo reservar una mesa para un grupo?</es>
    <en>Can I book a table for a group?</en>
</text>
<text id="contenido14">
	<es>En algunas de nuestras ubicaciones, aceptamos reservas para grupos. Por favor, llama con antelación para hacer una reserva y verificar la disponibilidad.</es>
    <en>At some of our locations, we accept group bookings. Please call ahead to make a reservation and check availability. </en>
</text>
<text id="contenido15">
	<es>Algunas bebidas permiten seleccionar la temperatura de servicio. Elige si prefieres tu bebida muy caliente, tibia o fría.</es>
    <en>Some drinks allow you to select the serving temperature. Choose whether you prefer your drink very hot, warm or cold.</en>
</text>
<text id="contenido16">
	<es>6.Agrega sabores y extras:</es>
    <en>6.Add flavors and extras:</en>
</text>
<text id="contenido17">
	<es>Si deseas, puedes agregar algo más a tu pedido, como pastelito, galletas o cualquier otro producto disponible en nuestro menú.</es>
    <en>If you wish, you can add something else to your order, such as cupcake, cookies or any other product available on our menu. </en>
</text>
<text id="contenido18">
	<es>7. Revisa tu pedido:</es>
    <en>7. Review your order:</en>
</text>
<text id="contenido19">
	<es>Una vez que hayas personalizado todos los detalles de tu bebida, revisa tu selección en el resumen de pedido para asegurarte de que todo esté como lo deseas.</es>
    <en>Once you've customized all the details of your drink, review your selection in the order summary to make sure everything is as you want it.</en>
</text>
<text id="contenido20">
	<es>Asegúrate de verificar el tamaño, los ingredientes y los extras seleccionados.</es>
    <en>Be sure to check the size, ingredients, and extras selected.</en>
</text>
<text id="contenido21">
	<es>8. Confirma tu pedido:</es>
    <en>8. Confirm your order:</en>
</text>
<text id="contenido22">
	<es>Una vez que estés satisfecho con tu elección, confirma tu pedido.</es>
    <en>Once you're happy with your choice, confirm your order.</en>
</text>
<text id="contenido23">
	<es>Si estás en línea, selecciona la opción de pago y el método de entrega (si aplicable). Si estás en la tienda, paga en el mostrador o en el área de autoservicio.</es>
    <en>If you're online, select your payment option and delivery method (if applicable). If you're in the store, pay at the counter or in the drive-thru area.</en>
</text>
<text id="contenido24">
	<es>9. ¡Disfruta tu bebida personalizada!</es>
    <en>9. Enjoy your personalized drink!</en>
</text>
<text id="contenido25">
	<es>Tu bebida estará lista en breve, adaptada exactamente a tu gusto. ¡Relájate y disfruta de una experiencia única y deliciosa!</es>
    <en>Your drink will be ready shortly, tailored exactly to your taste. Relax and enjoy a unique and delicious experience!</en>
</text>
<text id="contenido26">
	<es>yaaaaa resiste y lo lograras</es>
    <en>yes i do </en>
</text>
<text id="contenido27">
	<es>yaaaaa acabaaaa aribaaa</es>
    <en>yes i do </en>
</text>
<text id="contenido28">
	<es>vas bien continua</es>
    <en>thank you so much</en>
</text>
<text id="contenido29">
	<es>no te duermas dddale</es>
    <en>so cute</en>
</text>
<text id="contenido30">
	<es>yaaaaa resiste y lo lograras</es>
    <en>yes i do </en>
</text>
</translations>


